:global {
  [data-scheme='light'] .interactive-election-party-colours {
    & {
      &__labor {
        color: #e81c2e;
      }
      &__coalition {
        color: #0a52bf;
      }
      &__greens {
        color: #508421;
      }
      &__independents {
        color: #595959;
      }
    }
  }
  [data-scheme='dark'] .interactive-election-party-colours {
    &__labor {
      color: #e51d2e;
    }
    &__coalition {
      color: #166ef3;
    }
    &__greens {
      color: #51a802;
    }
    &__independents {
      color: #757575;
    }
  }
}
